.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}


/* media query */

@media (max-width: 420px) {

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;900&display=swap');

  body {
    font-family: 'Noto Sans JP', sans-serif;
  }

  .row {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: unset;
  }

  img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    height: 200px;
  }

  hr {
    margin-top: 20px;
  }

  h1 {
    font-size: 35px;
    font-weight: bold;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 30px;
    float: unset;
    text-align: center;
  }

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: unset;
    width: 100%;
    margin-top: 60px;
  }

  #steps .row>.right {
    margin-bottom: 30px;
  }

  #steps .row h1, #why .row h1 {
    padding-top: 30px;
    padding-bottom: 45px;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 60px;
  }

}